@import '~normalize.css';

$bottom-tray-height: 50px;

* {
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100%;
  position: fixed;
}

.send-message {

  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  margin-bottom: 1em;

  .send-message__input {
    display: block;
    resize: none;
    width: 90%;
    height: $bottom-tray-height;
    height: 3em;
    margin: auto;
  }

  .send-message__submit {
    width: 60px;
    height: $bottom-tray-height;
    padding: 0;
    outline: none;
    border: none;

    svg {
      width: 48px;
      height: 48px;
    }
  }

  .avatar {
    height: $bottom-tray-height;
  }
}

.avatar {
  width: $bottom-tray-height + 10px;

  .avatar__image {
    display: block;
    margin: auto;
    width: $bottom-tray-height - 10px;
    height: $bottom-tray-height - 10px;
  }

  .avatar__name {
    font-size: 10px;
    text-align: center;
    background: transparent;
    border: none;
    width: $bottom-tray-height + 10px;
  }
}

.message-list {
  padding: 1em;
  height: calc(100% - #{$bottom-tray-height + 20px});
  overflow: scroll;

  ul {
    padding-left: 0;

    li {
      list-style: none;
    }
  }
}
