@import '~normalize.css';

* {
  box-sizing: border-box;
}

.send-message {
  $element_height: 50px;

  width: 100%;
  bottom: 0;
  position: fixed;
  display: flex;
  margin-bottom: 1em;

  .send-message__input {
    display: block;
    resize: none;
    width: 90%;
    height: $element_height;
    height: 3em;
    margin: auto;
  }

  .send-message__submit {
    width: 60px;
    height: $element_height;
    padding: 0;
    outline: none;
    border: none;

    svg {
      width: 48px;
      height: 48px;
    }
  }

  .avatar {
    height: $element_height;
  }
}

.avatar {
  .avatar__image {
    width: 50px;
    height: 50px;
  }
}

.message-list {
  padding: 1em;

  ul {
    padding-left: 0;

    li {
      list-style: none;
    }
  }
}
