<!doctype html>
<html lang="en-US" ng-app="chatCafe">
  <head>
    <meta charset="utf-8">
    <title>ChatCafé</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/images/favicon.png">
  </head>
  <body>
    <main ng-cloak>

      <div class='message-list' ng-controller="historyCtrl">
        <ul>
          <li ng-repeat="message in messages | orderBy : 'timestamp' track by message.id">
            <span>
              {{ message.timestamp | date : 'mediumTime' }}
            </span>
            <span>{{ message.senderName }}</span>
            <span>{{ message.senderId }}</span>
            <span>{{ message.body }}</span>
          </li>
        </ul>
      </div>

      <div class="send-message" ng-controller="messageCtrl">
        <div class="avatar" ng-controller="avatarCtrl">
          <img class="avatar__image" src="http://api.adorable.io/avatars/face/1eyes/nose2/mouth1/ff0"/>
          <input type="text" ng-blur="update(user)" class="avatar__name" ng-model="user.name">
        </div>
        <textarea class="send-message__input" ng-model="message.body"></textarea>
        <button class="send-message__submit" ng-click="update(message)">
          <%= require('./client/images/submit_arrow.svg') %>
        </button>
      </div>

    </main>
  </body>
</html>
