<!doctype html>
<html lang="en-US" ng-app="chatCafe">
  <head>
    <meta charset="utf-8">
    <title>ChatCafé</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="/images/favicon.png">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <main ng-cloak>

      <div class="message-list" ng-controller="historyCtrl">
        <ul>
          <li class="row message-list__item" ng-repeat="message in messages | orderBy : 'timestamp' track by message.id">
            <div class="col-xs-1 avatar">
              <img class="avatar__image" ng-src="{{message.avatarUrl}}">
            </div>
            
            <div class="col-xs-9 message">
              <div class="row">
                <span class="col-xs-6 message__sender-name">{{ message.senderName }}</span>

                <span class="col-xs-offset-2 col-xs-4 message__timestamp">
                  {{ message.timestamp | date : 'mediumTime' }}
                </span>
              </div>
              
              <div class="row">
                <span class="col-xs-12 message__body">{{ message.body }}</span>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="send-message" ng-controller="messageCtrl">
        <div class="avatar" ng-controller="avatarCtrl">
          <img class="avatar__image" ng-src="{{user.avatarUrl}}">
          <input type="text" ng-blur="update(user)" class="avatar__name" ng-model="user.name">
          <button class="btn btn-default avatar__submit" ng-click="close()">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </button>
        </div>

        <textarea class="send-message__input" ng-model="message.body"></textarea>
        <button class="btn btn-default send-message__submit" ng-click="update(message)">
          <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
        </button>
      </div>

    </main>
  </body>
</html>
